<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Say it with dash</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
</head>
<body>
  <h1>What Dash said so far</h1>
  <ul class="quotes">
  <% for(var i=0; i<quotes.length; i++) {%>
    <li class="quote">
      <span><%= quotes[i].name %></span>
      <span><%= quotes[i].quote %></span>
    </li>
  <% } %>
  </ul>
</body>
</html>
