<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Say it with dash</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
</head>
<body>
  <p>Dash Gordon says:</p>
  <h1>
  <% for(var i=0; i<quotes.length; i++) {%>
      <span><%= quotes[i].quote %></span>
  <% } %>
</h1>
</body>
</html>
