<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Say it with dash</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
</head>
<body>
  <p>Dash Gordon says:</p>
  <h1>
  <!--<ol class="quotes">-->
  <% for(var i=0; i<quotes.length; i++) {%>
    <!--<li class="quote">-->
      <span><%= quotes[i].name %></span>
      <span><%= quotes[i].quote %></span>
    <!--</li>-->
  <% } %>
  <!--</ol>-->
</h1>
</body>
</html>
